body {
    font-family: Helvetica, sans-serif;
    background-color: dimgrey;
}

.main {
    background-color: #151515;
    height: 728px;
    width: 260px;  
    border-radius: 8px;
    border-width: 4px;
    border-style: solid;
    border-color: #00B33C;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.container {
    height: 204px;
}

.col {
    height: 116px;
    width: 130px;
}

.row {
    width: 260px;
}

.word {
    display: flex;
    flex-direction: row;
    height: 116px;
}

.plot {
    margin-top: 28px;
    height: 176px;
}

.text {
    color: white;
    text-align: center;
    font-size: 16px;
}

.num {
    font-size: 48px;
}

#tempSlider {
    margin-left: 73px;
    margin-top: 5px;
}

#tempSlider .rs-handle {
    background-color: #f3f3f3;
    box-shadow: 0px 0px 4px 0px #151515;
}

#tempSlider .rs-tooltip-text {
    font-size: 30px;
}

#levelSlider {
    margin-left: 52px;
}

#levelSlider .rs-tooltip-text {
    font-size: 30px;
    width: 120px;
    top: 45%;
}

.temp-set {
    margin-left: 96px;
}

.active-set {
    margin-left: 75px;
}

.btn {
    background-color: #151515;
    color: #888;
    border-color: #888;
    border-style: solid;
    border-radius: 6px;
    cursor: pointer;
    max-width: fit-content;
    padding: 3px;
}

.arrow {
    height: 0; 
    width: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 10px solid #fff;
    margin-left: 128px;
    margin-top: 2px;
}

.modal {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 11;
    background-color: rgba(0,0,0,0.4);
    height: 100%;
    width: 100%;
}

.modal-content {
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    width: 80%;
    margin: auto;
}

.temp-modal {
    margin-top: 300px;
}

.active-modal {
    margin-top: 290px;
}

.modal-container {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
}

.modal-text {
    font-size: 20px;
}

.modal-input {
    width: 40px;
    font-size: 16px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 15px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {     
    opacity: 1;    
}
