body {
    font-family: Helvetica, sans-serif;
    background-color: dimgrey;
}

.main {
    background-color: black;
    height: 728px;
    width: 260px;  
    border-radius: 8px;
    border-width: 4px;
    border-style: solid;
    border-color: #00B33C;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.container {
    height: 204px;
}

.col {
    height: 116px;
    width: 130px;
}

.row {
    width: 260px;
}

.word {
    display: flex;
    flex-direction: row;
    height: 116px;
}

.text {
    color: white;
    text-align: center;
    font-size: 16px;
}

.num {
    font-size: 48px;
    margin-top: 6px;
}

#tempSlider {
    margin-left: 73px;
    margin-top: 5px;
}

#tempSlider .rs-handle {
    background-color: #f3f3f3;
    box-shadow: 0px 0px 4px 0px #000;
}

#tempSlider .rs-tooltip-text {
    font-size: 30px;
}

#levelSlider {
    margin-left: 52px;
}

#levelSlider .rs-tooltip-text {
    font-size: 30px;
    width: 120px;
    top: 45%;
}

.temp-set {
    margin-left: 96px;
}

.active-set {
    margin-left: 75px;
}

.btn {
    background-color: #000;
    color: #444;
    border-color: #444;
    border-style: solid;
    border-radius: 6px;
    cursor: pointer;
}

.arrow {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 10px solid #fff;
    margin-left: 128px;
    margin-top: 2px;
  }